section#advantages
  .advantages.wrapper
    h2.title.__title!= content.advantages.title
    ul.advantages-list
      each val, ind in content.advantages.items
        if(ind !== 0)
          li.__item
            article.advantage(class=[val.isInvert === true ? "invert" : undefined, val.isJoin === true ? "joined" : undefined])
              .__info
                header
                  h3.__title!= val.title
                ul.work-list
                  each work in val.works
                    li.__item
                      p!= work
                footer
                  p.advantage__specoffer!= val.specoffer
              .__view(data-count="0" + ind)
                img(src=val.view.url alt=val.view.alt).__pic
